@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;700&display=swap');

:root {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    direction: rtl;
    font-family: 'Cairo', sans-serif;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    flex: 1 1 0;
    background-color: #636c79;
    padding: 10px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 300px;
    min-height: 100vh;
}

.side-content {
    position: fixed;
}

@media (max-width:768px) {
    .sidebar {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 50px;
        z-index: 2;
        right: 0px;
        overflow: hidden;
        transition: 0.3s;
    }

    .sidebar.is-active {
        max-width: 300px;
    }

    .side-content {
        right: 0;
        height: 100vh;
        max-width: 100%;
    }
}

.logo {
    margin: 10px 10px 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.logo .image {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.logo img {
    width: 30px;
    margin-left: 10px;
}

.logo h2 {
    color: #f1f1f1;
    font-size: 16px;
    font-weight: bold;
}

.logo span {
    color: #f1f1f1;
    font-size: 12px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #b0b4bc;
    font-size: 14px;
    display: flex;
    align-items: center;
    transition: 0.3s;
    margin: 5px auto;
    padding: 10px 10px;
}

.sidebar ul li i {
    font-size: 16px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.sidebar ul li a.active,
.sidebar ul li a:hover {
    color: #636c79;
    font-weight: bold;
    transform: translateX(-5px);
    background-color: white;
    border-radius: 5px;
}

.student {
    display: flex;
    align-items: center;
    width: 100px;
    margin-top: 20px;
}

.student .info span {
    padding-right: 10px;
    display: block;
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #9c9c9c;
}

.student .info span:first-of-type {
    color: white;
    margin-top: -5px;
    font-size: 12px;
    font-weight: bold;
}

.student .info span:last-of-type {
    color: #b0b4bc;
    margin-top: 3px;
    font-size: 12px;
}

.student img {
    width: 50px;
    border-radius: 50%;
}

.buttons {
    margin-top: 10px;
    margin-right: 10px;
}

.student-info button {
    cursor: pointer;
    border: none;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    color: #636c79;
    display: inline;
    font-size: 12px;
    box-shadow: 0 0 16px 4px rgb(0 0 0 / 30%);
}

.student-info button:first-of-type {
    margin-left: 10px;
}

.student-info button i {
    padding-left: 5px;
}

.student-info button:focus {
    border: none;
    outline: none;
}

@media (max-width:768px) {
    .logo {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .logo img {
        margin-left: 0;
    }
    .logo h2,
    .logo span {
        display: none;
    }
    .sidebar ul li a {
        justify-content: center;
    }

    .sidebar ul li a.active,
    .sidebar ul li a:hover {
        transform: translateX(0);
    }

    .sidebar ul li span {
        display: none;
    }
    .sidebar ul li i {
        padding-left: 0;
    }

    .student .info span {
        display: none;
    }
    .student-info button {
        display: none;
    }
    .student img {
        width:30px;
    }
    .sidebar.is-active .logo {
        margin-right: 10px;
        margin-bottom: 5px;
    }

    .sidebar.is-active .logo img {
        margin-left: 10px;
    }
    .sidebar.is-active .logo h2,
    .sidebar.is-active .logo span {
        display: block;
    }
    .sidebar.is-active ul li a {
        padding: 8px 10px;
        justify-content: flex-start;
    }
    .sidebar.is-active ul li span {
        display: block;
    }
    .sidebar.is-active ul li i {
        padding-left: 10px;
    }

    .sidebar.is-active .student .info span {
        display: block;
    }
    .sidebar.is-active .student-info button {
        display: inline;
    }
    .sidebar.is-active .student img {
        width:30px;
    }
}

.content {
    flex: 1 1 0;
    background-color: #F2F2F2;
    padding: 30px 30px;
    min-height: 100vh;
}

@media (max-width:768px) {
    .content {
        padding: 20px 50px 30px 5px;
        max-width: 100%;
    }
}

.content .title h2 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    padding-right: 10px;
    border-right: #636c79 3px solid;
}

.cards {
    display: grid;
    grid-template-columns: repeat(1 , minmax(auto, 1fr));
    gap: 30px;
    margin: 30px 10px;
}

.cards .card {
    background: white;
    padding: 10px;
    border-radius: 5px;
    color: #110e3e;
    cursor: pointer;
    transition: 0.3s;
}

.cards .card:hover {
    scale: 1.02;
    box-shadow: 0px 17px 39px -5px rgba(0,0,0,0.3);
}

.cards .card h2 {
    margin: 0 0 15px;
    font-size: 16px;
    font-weight: bold;
}

.cards .card .info-row {
    margin: 10px 5px;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
}

.cards .card .info-row span:first-of-type {
    font-weight: lighter;
    width: 110px;
}

@media (max-width:768px) {
    .content .title h2 {
        margin-right: 5px;
    }
    .cards .card .info-row {
        font-size: 12px;
    }

    .cards .card .info-row span:first-of-type {
        width: 94px;
    }
    .overlay {
        position: absolute;
        z-index: -1;
        width: 100vw;
        height: 100vh;
        transition: 0.3s linear;
    }

    .overlay.activated {
        background-color: #000000a3;
        z-index: 1;
    }
}

.dark-toggle {
    cursor: pointer;
    position: fixed;
    --pos:20px;
    bottom: var(--pos);
    left: var(--pos);
    --size:50px;
    width: var(--size);
    height: var(--size);
    background-color: #151515;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0px 13px 8px rgb(0 0 0 / 20%);
    transition: 0.3s;
}

.dark-toggle.dark {
    color: #151515;
    background-color: white;
}

.sidebar.dark {
    background-color: #151515;
    border-left: #1d1d1d 1px solid;
}

.sidebar.dark ul li a.active,
.sidebar.dark ul li a:hover{
    color: #151515;
}

.content.dark {
    background-color: #131313;
}

.content.dark .title h2 {
    color: #eaeaea;
    border-color: #eaeaea;
}

.content.dark .card {
    background-color: #1c1c1c;
    color: #eaeaea;
}